<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h2>Mengenal Vue Javascript</h2>
    <div id="app">
        <div v-for = "(data,index) in comments">
            <button :id="'plus'+index" value="OFF" style="margin-top: 10px" v-on:click=tambah(index)>+</button>
            <br>
            {{ data.comment }} || {{ data.date}} || Score: {{data.score}}
            <br>
            <button :id="'minus'+index" value="OFF" style="margin-bottom: : 10px" v-on:click=kurang(index)>-</button>
        </div>

        <br>

        <div>
            <textarea type="text" id="new_comment" v-on:keyup.enter = "coba" rows="10" cols="40"></textarea>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
          el: '#app',
          data: {
            message: 'Hello Vue!',
            comments: []
          },
          methods : {
            coba: function(){
                var isi = document.getElementById("new_comment")
                isi_baru = isi.value.split("\n").join("").split(" ").join("")
                tanggal = new Date()
                if(isi_baru.length == 0){
                    isi.value = ""
                    return alert('Komentar kosong')
                } else {
                    this.comments.push({
                        comment: document.getElementById("new_comment").value,
                        date: tanggal.getDate()+'-'+tanggal.getMonth()+'-'+tanggal.getFullYear(),
                        score: 0
                    })
                    isi.value = ""
                }
            },
            tambah: function(index){
                var dataplus = document.getElementById("plus"+index)
                var dataminus = document.getElementById("minus"+index)
                if(dataplus.value == "OFF" && dataminus.value == "OFF"){
                    this.comments[index].score += 1
                    dataplus.value = "ON"
                } else if (dataplus.value == "OFF" && dataminus.value == "ON"){
                    this.comments[index].score += 2
                    dataplus.value = "ON"
                    dataminus.value = "OFF"
                } else if (dataplus.value == "ON"){
                    this.comments[index].score -= 1
                    dataplus.value = "OFF"
                }
            },
            kurang: function(index){
                var dataplus = document.getElementById("plus"+index)
                var dataminus = document.getElementById("minus"+index)
                if(dataminus.value == "OFF" && dataplus.value == "OFF"){
                    this.comments[index].score -= 1
                    dataminus.value = "ON"
                } else if (dataminus.value == "OFF" && dataplus.value == "ON"){
                    this.comments[index].score -= 2
                    dataminus.value = "ON"
                    dataplus.value = "OFF"
                } else if (dataminus.value == "ON"){
                    this.comments[index].score += 1
                    dataminus.value = "OFF"
                }
            }
          }
        })
    </script>
</body>

</html>